@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


:root {
  --plyr-audio-controls-background: #7c7c7c00;
}

#html5qr-code-full-region button {
  color: #111;
  background-color: #fdfdfd;
  padding-left: 3.75px;
  padding-right: 3.75px;
  border: 1px solid #828282;
  border-radius: 3px;
  outline: none;
}

.entrypoints { background: #22242a; }
.entrypoints:nth-child(odd) {background: #26282f; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}